GEMMASCREEN_PRODUCT_BUNDLE_IDENTIFIER=cn.example.glimmer
GEMMASCREEN_DEVELOPMENT_TEAM=YOUR_TEAM_ID
GLIMMER_GALLERY_PRODUCT_BUNDLE_IDENTIFIER=cn.example.glimmergallery
GLIMMER_GALLERY_DEVELOPMENT_TEAM=YOUR_TEAM_ID
